* { box-sizing: border-box; }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;

    font-family: 'Overpass', sans-serif;
    /*font-family: 'Ubuntu', sans-serif;*/
    font-size: 16px;
}


/* H E A D E R  */

header {
    background-image: linear-gradient(150deg, hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    color: white;
    border-radius: 0 0 0 7em;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
header > img {
    position: absolute;
    height: 230%;
    top: -44%;
    z-index: -1;
    left: -85%;
}




.logo {
    font-size: 2.2em;
    font-weight: bolder;
    display: flex;
    place-content: space-between;
    padding: 1.5em .8em 2em;
}
.logo > img { 
    cursor: pointer;
    height: 50%;
    place-self: center;
}




nav {
    background: #fff;
    color: black;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
}
nav > section {
    border-radius: 10px;
}
.section_Title {
    display: flex;
    place-content: center center;
    padding: 1rem 0 .5rem 0;
}
.section_Title > h3 {
    padding: 0 1rem;
}
.section_Title > svg {
    width: 1rem;
}
nav > section > ul {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    font-weight: 600;
    color: hsl(210, 12%, 42%);
    background-color: lightgray;
    width: 85%;
    margin: 0 auto;
    border-radius: inherit;
}
nav > section > ul > li {
    padding: 1em 0 0 0;
}
nav > section > ul > li:last-child {
    padding: 1em 0 1em 0;
}
nav .login {
    padding: .5em 1em;
    border-top: 1px lightgray solid;
    margin:1em 2em;
}
nav .login > ul {
    padding: 0;
    text-align: center;
    list-style-type: none;
}
nav .login li {
    padding: 1em 0;
    font-size: 18px;
    font-weight: bold;
    color: hsl(208, 49%, 24%) ;
    cursor: pointer;
}
nav .login .button {
    width: 8rem;
    font-family: unset;
    background-image: linear-gradient(90deg, hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    padding: .6em 0;
    margin: 0 auto;
    color: #fff;
}



.transparent_Text {
    position: relative;
    color: black;
    mix-blend-mode: screen;
}
.transparent_Text::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    content: '';
    mix-blend-mode: color-burn;
    border-radius: 2em;
}


/* C T A - welcome screen */


.welcome {
    text-align: center;
    font-family: 'Overpass', sans-serif;
    
    padding: 0 2.5em 8em;
}
.welcome > h4 { font-weight: lighter; }
.welcome > ul {
    padding: 0;
    display: flex;
    gap: 1em;
    margin: 3em 0 0 0;
}


/* B U T T O N S */


.button_Border { border: 1px solid white; }
.button {
    width: 50ch;
    list-style-type: none;
    border-radius: 2em;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    padding: .8em .5em;
}


/* M A I N - top part */


.top_Main > h2 {
    padding: 4rem 0 1rem;
}
.top_Main > img[src*='editor-mobile'] {
    width: 100%;
}


/* M A I N - middle part */


.middle_Main {
    background-color: hsl(238, 21%, 27%);
    border-radius: 0 5em 0 5em;
    position: relative;
    margin-top: 18em;
}
.middle_Main > img[src*='phones'] {
    position: absolute;
    width: 100%;
    top: -35%;
    z-index: 1;
}
.middle_Main > .overflow {
    overflow: hidden;
    position: relative;
    border-radius: inherit;
}
.middle_Main > .overflow > svg{
    position: absolute;
    width: 160%;
    transform: translate(-50%);
    left: 50%;
}
.middle_Main .inner_Circle { stroke: #fff; }
.middle_Main > .overflow > article {
    padding: 8rem 0 6rem;
    position: relative;
}
.middle_Main > .overflow > article > * { color: white; }
.middle_Main  h2 {
    font-size: 2.2em;
    padding: 2rem 2rem 0;
}
.middle_Main p { text-shadow: unset; }


/* M A I N - bottom part */


.bottom_Main{
    margin: 7vh 0 10vh 0;
}
.bottom_Main > img[src*='laptop'] {
    position: relative;
    transform: translate(-50%);
    left: 50%;
    width: 100%;
}


/* F O O T E R */


footer {
    background: hsl(240, 10%, 16%);
    padding: 0 0 5vh;
    border-radius: 0 5em 0 0;
}
footer > .logo_Footer {
    font-size: xxx-large;
    font-weight: bolder;
    text-align: center;
    padding: 2em 0 0;
    color: #fff;
}
footer > section {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: hsl(240, 2%, 79%);
}
footer > section > h3 {
    font-weight: lighter;
    color: #fff;
    margin: 6.5vh 0 4vh;
}
footer > section > ul {
    list-style-type: none;
    padding: 0;
}
footer > section > ul > li {
    margin: 1vh 0;
}

/* U T I L I Y */


h2, h3 {
    color: hsl(208, 49%, 24%);
    text-align: center;
    padding: 2rem 4rem 0;
}

p {
    text-align: center;
    padding: 0px 1.5rem;
    color: hsl(207.7, 5.6%, 45.7%);
    font-size: 15px;
    text-shadow: 1px 1px 1px lightgray;
    letter-spacing: 1px;
    padding: 0 2em;
    line-height: 1.8em;
}

.off { display: none; }
.grow { flex: 1 auto; }
.cursor { cursor: pointer; }
