* , *::before, *::after
{ box-sizing: border-box; }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;

    font-family: 'Overpass', sans-serif;
    /*font-family: 'Ubuntu', sans-serif;*/
    font-size: 16px;
}


/* H E A D E R  */

header {
    background-image: linear-gradient(150deg, hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    color: white;
    border-radius: 0 0 0 7em;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
header > .pattern > img {
    position: absolute;
    height: 230%;
    top: -44%;
    z-index: -1;
    left: -85%;
}




.logo {
    font-size: 2.2em;
    font-weight: bolder;
    display: flex;
    place-content: space-between;
    padding: 1.5em .8em 2em;
}
.logo > img { 
    cursor: pointer;
    height: 50%;
    place-self: center;
}




nav {
    background: #fff;
    color: black;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto 4rem;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    z-index: 1;
    top: 20%;
    
}
nav > section {
    border-radius: 10px;
}
.section_Title {
    display: flex;
    place-content: center center;
    padding: 1rem 0 0 0;
}
.section_Title > h3 {
    margin: 0;
    padding: 0 1rem;
}
.section_Title > svg {
    width: 1rem;
    transition-duration: 400ms; 
}
nav > section > ul {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    font-weight: 600;
    color: hsl(210, 12%, 42%);
    background-color: hsl(240, 7%, 94%);
    width: 85%;
    margin: 1rem auto 0;
    border-radius: inherit;
}
nav > section > ul > li {
    padding: 1em 0 0 0;
}
nav > section > ul > li:last-child {
    padding: 1em 0 1em 0;
}
.login {
    padding: .5em 1em;
    border-top: 1px lightgray solid;
    margin:2em 2em 1em;
}
.login > ul {
    padding: 0;
    text-align: center;
    list-style-type: none;
}
.login li {
    padding: 1em 0;
    font-size: 18px;
    font-weight: bold;
    color: hsl(208, 49%, 24%);
    cursor: pointer;
}
.login .button {
    width: 8rem;
    font-family: unset;
    background-image: linear-gradient(90deg, hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    padding: .6em 0;
    margin: 0 auto;
    color: #fff;
}



.transparent_Text {
    position: relative;
    color: black;
    mix-blend-mode: screen;
}
.transparent_Text::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    content: '';
    mix-blend-mode: color-burn;
    border-radius: 2em;
}


/* C T A - welcome screen */


.welcome {
    text-align: center;
    font-family: 'Overpass', sans-serif;
    
    padding: 0 2.5em 8em;
}
.welcome > h4 { font-weight: lighter; }
.welcome > ul {
    padding: 0;
    display: flex;
    gap: 1em;
    margin: 3em 0 0 0;
}


/* B U T T O N S */


.button_Border { border: 1px solid white; }
.button {
    width: 50ch;
    list-style-type: none;
    border-radius: 2em;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    padding: .8em .5em;
}


/* M A I N - top part */


.top_Main > h2 {
    padding: 4rem 0 1rem;
}
.top_Main > img[src*='editor-mobile'] {
    width: 100%;
}


/* M A I N - middle part */


.middle_Main {
    background-color: hsl(238, 21%, 27%);
    border-radius: 0 5em 0 5em;
    position: relative;
    margin-top: 18em;
}
.middle_Main > img[src*='phones'] {
    position: absolute;
    width: 100%;
    top: -35%;
    z-index: 1;
}
.middle_Main > .overflow {
    overflow: hidden;
    position: relative;
    border-radius: inherit;
}
.middle_Main > .overflow > svg{
    position: absolute;
    width: 160%;
    transform: translate(-50%);
    left: 50%;
}
.middle_Main .inner_Circle { stroke: #fff; }
.middle_Main > .overflow > article {
    padding: 8rem 0 6rem;
    position: relative;
}
.middle_Main > .overflow > article > * { color: white; }
.middle_Main  h2 {
    font-size: 2.2em;
    padding: 2rem 2rem 0;
}
.middle_Main p { text-shadow: unset; }


/* M A I N - bottom part */


.bottom_Main{
    margin: 7vh 0 10vh 0;
}
.bottom_Main > img[src*='laptop'] {
    position: relative;
    transform: translate(-50%);
    left: 50%;
    width: 100%;
}


/* F O O T E R */


footer {
    background: hsl(240, 10%, 16%);
    padding: 0 0 5vh;
    border-radius: 0 5em 0 0;
}
footer > .logo_Footer {
    font-size: xxx-large;
    font-weight: bolder;
    text-align: center;
    padding: 2em 0 0;
    color: #fff;
}
footer > section {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: hsl(240, 2%, 79%);
}
footer > section > h4 {
    font-weight: lighter;
    color: #fff;
    margin: 6.5vh 0 4vh;
}
footer > section > ul {
    list-style-type: none;
    padding: 0;
}
footer > section > ul > li {
    margin: 1vh 0;
}

/* U T I L I Y */


h2, h4 {
    color: hsl(208, 49%, 24%);
    text-align: center;
    padding: 2rem 4rem 0;
}

p {
    text-align: center;
    padding: 0px 1.5rem;
    color: hsl(207.7, 5.6%, 45.7%);
    font-size: 15px;
    text-shadow: 1px 1px 1px lightgray;
    letter-spacing: 1px;
    padding: 0 2em;
    line-height: 1.8em;
}

.off { display: none; }
.grow { flex: 1 auto; }
.cursor { cursor: pointer; }
#nav_Desktop { display: none;}
.shadow { box-shadow: 0 10px 20px -5px lightgray;}
.coral_Text { color: #ffcfc6; }
.desktop { display: none;}




/*////////////////*/
/* D E S K T O P */
/*//////////////*/





@media screen and (min-width: 376px) {

    body {
        display: grid;
        grid-template: repeat(5 , min-content) / auto;
    }
    .logo { padding: 1em .8em 2em;}
    .logo > strong {
        place-self: center;
        padding: .5em .8em 2em;
    }

    #hamburger { display: none;}
    
    
    #nav_Desktop { display: flex;}
    #nav_Desktop > div > .section_Title > svg {
        margin: 0 .5em;
    }
    #nav_Desktop > div {
        position: relative;
    }
    #nav_Desktop > div > ul {
        font-size: .9rem;
        font-weight: normal;
        position: absolute;
        padding: 1em 0;
        list-style-type: none;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        background: #fff;
        border-radius: .5em;
        top: 8vh;
        width: 90%;
    }
    #nav_Desktop > div > ul > li:hover {
        font-weight: bolder;
    }
    #nav_Desktop > div > ul > li {
        padding: 1em 0 0 0;
    }
    #nav_Desktop > div > ul :last-child{
        padding: 1em 0 1em 0;
    }
    



    
    .section_Title {
        color: #fff;
        font-size: .7em;
        padding: 0 1em;
    }
    .section_Title > svg {
        width: .6rem;
    }
    .section_Title > svg > path {
        stroke: #fff;
    }

    .button { 
        flex: unset;
        width: max-content;
    }
   




    .welcome > ul {
        place-content: center;
    }
    .welcome > ul > li {
        font-size: 1rem;
        font-weight: bolder;
    }





    .login { 
        border: none; 
        padding: 0;
        margin: 0;
    }
    .login li {
        color: inherit;
    }
    .login > ul { 
        display: flex;
        place-items: center;
    }
    .login .button { 
        background-image: none;
        background-color: #fff;
        color: #ff4356;
    }
    .login .button,
    .login > ul > li {
        margin: 0 2em;
        font-size: 1rem;
        font-weight: bolder;
    }
    .login > ul > li.button:hover {
        background-color: #ff7a85;
        color:#fff;
    }





    header {
        background-image: linear-gradient(65deg, hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    }
    header > .pattern > img {
        position: absolute;
        height: 190em;
        top: -175vh;
        z-index: -1;
        left: -30vw;
    }





    nav {
        background: transparent;
        margin: 0;
        box-shadow: none;
        position: static;
        transform: unset;
    }

    


    
    ul > li.button_Border:hover { 
        background-color: white;
        color: #ff7a85;
    }
    ul > li.transparent_Text:hover{
        background-color: #ff7a85;
        color: #fff;
    }
    
    
    
    
    
    .top_Main {
        display: grid;
        grid-template: repeat(4,max-content) / 65% 35%;
        overflow: hidden;
    }
    .top_Main > h2:nth-child(1) {
        grid-area: 1/1 / 2/3;
    }
    .top_Main > img.desktop {
        grid-area: 1/2 / 5/3;
        padding: 3rem 0;
    }
    .top_Main > article {
        margin: 4rem 10vw 0 18vw;
    }





    .middle_Main {
        margin: 0;
        display: flex;
    }
    .middle_Main > img[src*='phones'] {
        width: 25%;
        top: -4vh;
        left: 18vw;
    }
    .middle_Main > .overflow > svg {
        position: absolute;
        transform: translate(-50%);
        left: 20vw;
        top: -15vh;
        width: 70vw;
    }
    .middle_Main > .overflow > article {
        padding: 5rem 20rem 5rem 0;
        width: 50vw;
        margin: 0 0 0 auto;
    }






    .bottom_Main {
        display: grid;
        grid-template: repeat(4,max-content) / 35vw 65vw;
    }
    .bottom_Main > div {
        grid-area: 1/1 / 5/2;
        padding: 1rem 0;
    }
    .bottom_Main > .overflow > img {
        position: relative;
        left: -41%;
        top: 5%;
        padding: 0 0 1.2em 0;
    }
    .bottom_Main > article:nth-child(3) {
        grid-area: 2/2 / 3/3;
    }
    .bottom_Main > article:nth-child(4) {
        grid-area: 3/2 / 4/3;
    }
    


    footer { 
        display: flex;
        gap: 12em;
    }
    footer > .logo_Footer {
        text-align: left;
        padding: 2em 2em 0;
    }
    div > h6.coral_Text:hover,
    footer > section > ul > li:hover { text-decoration: underline;}
    footer > section > h4 {font-weight: bolder;}



    .button {padding: .8em 1em}
    .mobile {display: none;}
    .desktop {display: initial;}
    .overflow {width: 100%; overflow: hidden;}
    .align_Left {text-align: left;}
    .bigger_Font {font-size: 2.5rem;}
    h1 {font-size: 4rem;}
    
    article { margin: 4rem 10vw 0 15vw; }
    article  p {
        text-align: left;
        width: fit-content;
        text-align: left;
        margin: 0 auto;
        padding-left: 0;
    }
   article > h2 {
        text-align: left;
        padding-left: 0;
    }
    
}